.bgimage { 
	background: url(/resources/images/agora.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.background2 { 
	background: url(resources/images/agora.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

h3 {
	color: black;
}

.transbox {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block
}

.center, li.nav-item {
  margin-left: auto;
  margin-right: auto;
}

button {
	margin: 4px;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px 8px;

}

h1, a.navbar-brand, a.nav-link {
	font-family: Garamond, serif;
}

.container {
	max-width: 800px;
}