.background { 
	background: url(/resources/images/agora.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.background2 { 
	background: url(resources/images/agora.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

h3 {
	color: white;
}