.bgimage { 
	background: url(/resources/images/agora.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	max-height: 650px;
}
.background2 { 
	background: url(resources/images/agora.jpg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

div.row {
	border: 1px;
	border-style: solid;
	border-color: black;
}

div.container.footer {
	border: 1px;
	border-style: solid;
	border-color: black;
}

h2, h3 {
	color: black;
	margin: 4px;
}

.transbox {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  max-height: 550px;

}

div.scrolley {
	overflow-y: scroll;
	max-height: inherit;
	
}

div.scrolley.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}


a.nav-link {
	font-size: larger;
	color: white!important;
	padding-left: 5px!important;
	padding-right: 5px!important;
}
a.nav-link:hover {
	font-size: larger;
	color: #4287f5!important;
}

.center, li.nav-item {
  margin-left: auto;
  margin-right: auto;
}

button {
	margin: 4px;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px 8px;

}

h1, h2, h3, a.navbar-brand, a.nav-link {
	font-family: Garamond, serif;
}

.container {
	max-width: 900px;
}

.smaller {
	max-width: inherit;
}

div.row.container.smaller {
	flex-wrap: none;
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 0px;
}
div.col-md-1 {
	padding: 0px;
}

div.col-md-2 p {
	padding: 0px;
	text-align: left;
}

div.col-md-2 a {
	color: #0d2c9e!important;
}
div.col-md-2 a:hover {
	color: #4287f5!important;
}

div.col-md-2 img {
	max-width: 100px;
	max-height: 100px;
}

div.col-md-2 p, div.col-md-8 p, div.col-md-7 p {
	margin-top: 4px;
	margin-bottom: 4px;
}


h1.center {
	margin-right: auto;
	margin-left: auto;
}

h3.center,  button.navbar-toggler{
	margin-right: auto;
	margin-left: auto;
}

.center {
	margin-right: auto;
	margin-left: auto;
}


input {
	min-width: 200px;
}

div.container.center {
	padding: 0px;
}

a.nav-link {
	margin-left: 10px!important;
	margin-right: 10px!important;
}

div.transbox.center {
	margin-left: 20px;
	margin-right: 20px;
}

h6{
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: smaller;
}



div.card {
	margin-top: 25px;
	margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}
div.row.align-items-center.remember {
	border: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -5px;
	margin-bottom: 10px;
}

.margt15 {
	max-height: 250px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.margt1515 {
	max-height: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
}

input[type='checkbox'] {
	min-width: 0px;
}
input.btn.login_btn {
	min-width: 150px;
}

div.card-body {
	padding-bottom: 5px;
	padding-top: 25px;
}

.shrinktocontent {
	max-width: max-content;
	min-width: min-content;
}
div.row.container.smaller input {
	margin-top: 10px;
	margin-bottom: 10px;
}